<section class="breadcrumb-subnav">
    <nav role="navigation" class="navbar navbar-default">
    <div class="container">
        <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active"><%= @title %></li>
        </ol>
    </div>
    </nav>
</section>

<section class="cart">
  <div class="container">
    <h3 class="title"><%= @cart.line_items.count %> item(s) in <%= @title %></h3>
    <div class="row">
      <%= render(@cart.line_items) %>
    </div>
  </div>
  <div class="container padding-none">
    <div class="col-md-12 pull-right padding-right-none">
      <p class="total text-right">
        <strong class="padding-right-sm">Total</strong>
        <span><%= number_to_currency(@cart.total_price) %></span>
      </p>
      <p>
        <a href="" class="cta cta-primary">Proceed to Checkout</a>
        <%= button_to 'Empty Cart', @cart, method: :delete, data: { confirm: "Are you sure? " }, class: "cta cta-primary" %>

      </p>
    </div>
  </div>
</section>
