<section class="jumbotron hero bg-darkblue text-center padding-top-xs" style="background-image: url(<%= image_url('hero.jpg') %>)">
      <div class="container">
        <h2>Find Your Tires By Vehicle</h2>
      </div>
</section>

<section class="breadcrumb-subnav">
  <nav role="navigation" class="navbar navbar-default">
    <div class="container">
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active"><%= @title %></li>
      </ol>
    </div>
  </nav>
</section>

<section class="product-list">
  <div class="container">
  <% @products.each do |product| %>
    <div class="row">
      <div class="col-md-3">
        <p>
          <img src="<%= image_url('tire.jpg') %>" alt="" class="img-responsive" />
        </p>
      </div>
      <div class="col-md-6">
        <p>
          <h3 class="title"><span><%= product.brandName %></span> <%= product.name %></h3>
          <p>
            <span class="prod-info"><%= product.brand %></span>
            <span class="prod-info">Item# <%= product.itemNum %></span>
            <span>Year: </span><%= product.year %>
            <span>Model: </span><%= product.model %>
            <span>Make: </span><%= product.make %>
          </p>
          <p>
          <%= product.desc %>
          </p>
        </p>
      </div>
      <div class="col-md-3 margin-top-xs">
        <div class="col-md-12">
          <strong class="price pull-right"><%= number_to_currency(product.price) %> <sup>+tax</sup></strong>
        </div>
        <div class="col-md-12 info margin-top-xs">
          <h5>Buy 4 Includes</h5>
          <ul>
            <li>
              Free Alignment and Installation
            </li>
            <li>
              $50 Savings
            </li>
          </ul>
        </div>
        <div class="col-md-12 padding-none margin-top-xs">
          <%= link_to 'View More Details', product, class: "btn cta-primary btn-block" %>
          <% if product_user(product) %>
          <%= link_to 'Edit', edit_product_path(product),  class: "btn btn-block" %>
          <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-block" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</section>

<%#= link_to 'New Product', new_product_path %>
