<section class="breadcrumb-subnav">
  <nav role="navigation" class="navbar navbar-default">
    <div class="container">
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><%= link_to @title, :controller => :products, :action => :index %></li>
        <li class="active"><%= @product.brandName + " " + @product.name %>
      </ol>
    </div>
  </nav>
</section>

<section class="product-list">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p><img src="<%= image_url('tire.jpg') %>"  alt="" class="img-responsive" /></p>
      </div>
      <div class="col-md-6">
          <h3 class="title margin-bottom-xs"><span><%= @product.brandName %></span> <%= @product.name %></h3>
          <p>
            <span class="prod-info"><%= @product.brand %></span>
            <span class="prod-info">Item# <%= @product.itemNum %></span>
          </p>
          <p><strong class="price"><%= number_to_currency(@product.price) %> <sup>+tax</sup></strong></p>
          <p class="lead margin-top-xs">
          <%= @product.desc %>
          </p>
          <p>
            <%= button_to 'Add to Cart', line_items_path(product_id: @product), class: "btn cta-primary btn-block" %>
          </p>
      </div>
    </div>
  </div>
</section>

<section class="jumbotron hero bg-darkblue product-spec" style="background-image: url(<%= image_url('hero.jpg') %>)">
  <div class="container">
    <h2 class="text-center margin-bottom-xs">Tire Specifications &amp; Ratings</h2>
    <ul class="grid text-center">
      <li><span class="spec-title">Height</span>195</li>
      <li><span class="spec-title">Width</span>65</li>
      <li><span class="spec-title">Rim Diameter</span>16</li>
      <li><span class="spec-title">Treadware</span>580</li>
      <li><span class="spec-title">Temperature Disspation</span>295</li>
      <li><span class="spec-title">Traction</span>280</li>
    </ul>
  </div>
</section>
